<p>
  login works!
</p>

<form class="" name="" >
  <mat-card class="example-card ">
      <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Usuario" value="">
          </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Pasword" value="">
            </mat-form-field>
            
          </div>
          <div>
              <button mat-raised-button>Cancelar</button>

              <button mat-flat-button>Entrar</button>
          </div>
        


  </mat-card>
 
</form>